
<!DOCTYPE html>
<html>

<head>
    <meta property="og:title" content="OwO &bullet; Home" />
    <meta property="og:type" content="website" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="/style.css" rel="stylesheet">

    <title>Website &bull; Home</title>
</head>

<style>
    body {
        min-height: 100vh;
        overflow: hidden;
    }

    hr {
        margin: 0px auto;
        width: 50vw;
    }


    .container {
        text-align: center;
        display: block;
        position: absolute;
        width: 80%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .is-large-fuck {
        font-size: 24vw;
        height: 28vw;
    }

    .size-custom-1 {
        margin-top: 2vw;
        display: block;
        letter-spacing: 12px;
        font-size: 8vw;
        line-height: 80%;
    }

    .size-custom-2 {
        text-align: center;
        display: block;
        font-size: 20px;
    }

    .container .button {
        width: 80vw;
        font-size: 20px;
        text-decoration: none;
    }


    .page-footer {
        margin-top: 100vh;
        width: 100%;
        display: block;
        background-color: #00a2aa;
        position: relative;
        font-size: 16px;
        bottom: 0;
        left: 0;
    }

    @media only screen and (min-width: 1024px) {
        hr {
            width: 32vw;
        }

        .is-large-fuck {
            font-size: 18vw;
            height: 22vw;
        }

        .size-custom-1 {
            margin-top: 10px;
            font-size: 4vw;
        }

        .container .button {
            width: 340px;
        }
    }
</style>

<body>
    <div class="header">
        <section class="hero is-dark">
            <div class="hero-body">
              <div class="">
                <h1 class="title is-1">
                  SETS
                </h1>
                <h2 class="subtitle">
                  online multiplayer
                </h2>
              </div>
            </div>
          </section>
    </div>

    <div class="container">
        <div class="is-large-fuck">404</div>
        <hr>
        <div class="size-custom-1">PAGE</div>
        <div class="size-custom-2">WAS NOT FOUND</div>
        <a class="button is-dark" href="/">Home</a>
    </div>

</body>


</html>